<!DOCTPYE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Flux Node SDK - Home</title>
    </head>
    <body>
        Congratulations - you're logged in!
    </body>
</html>
