<!DOCTPYE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Flux Node SDK - Login</title>
    </head>
    <body>
        <a href="/auth_callback">Login</a>
    </body>
</html>
