{
  "extends": "airbnb/base",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "space-before-function-paren": [2, "never"],
    "max-len": 1,
    "no-unused-vars": ["error", {
      // Ignore any variables that begin with an underscore
      "varsIgnorePattern": "_",
      "argsIgnorePattern": "_"
    }]
  }
}
